option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    ANOTHER_ENV_VAR: value
    DATABASE_URL: !Sub "jdbc:mysql://${AWSEBRDSDatabase.Endpoint.Address}:${AWSEBRDSDatabase.Endpoint.Port}/${AWSEBRDSDatabase.DBName}"
    RDS_HOSTNAME: !GetAtt AWSEBRDSDatabase.Endpoint.Address
    RDS_PORT: !GetAtt AWSEBRDSDatabase.Endpoint.Port
    RDS_DB_NAME: my_db_name  # Replace with your DB name
    RDS_USERNAME: my_db_username  # Replace with your DB username
    RDS_PASSWORD: my_db_password  # Replace with your DB password
