Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      Engine: mysql
      DBInstanceClass: db.t4g.nano
      MasterUsername: my_db_username  # Replace with your DB username
      MasterUserPassword: my_db_password  # Replace with your DB password
      DBName: my_db_name  # Replace with your DB name
      AllocatedStorage: 20
      StorageType: gp2
      VPCSecurityGroups:
        - !Ref MyDBSecurityGroup
      DBSubnetGroupName:
        Ref: "AWSEBRDSDBSubnetGroup"

  AWSEBRDSDBSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: Subnet group for RDS instance
      SubnetIds:
        - !Ref Subnet1Id  # Reference the output from network.config

Outputs:
  DBEndpoint:
    Description: "JDBC connection string for the database"
    Value: !Sub "jdbc:mysql://${AWSEBRDSDatabase.Endpoint.Address}:${AWSEBRDSDatabase.Endpoint.Port}/${AWSEBRDSDatabase.DBName}"
    Export:
      Name: "JDBCConnectionString"
