Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      Engine: mysql
      DBInstanceClass: db.t4g.nano
      MasterUsername: my_db_username
      MasterUserPassword: my_db_password
      DBName: my_db_name
      AllocatedStorage: 20
      StorageType: gp2
      VPCSecurityGroups:
        - Fn::GetAtt: 
            - AWSEBSecurityGroup
            - GroupId
      DBSubnetGroupName:
        Ref: AWSEBRDSDBSubnetGroup

  AWSEBRDSDBSubnetGroup:
    Type: AWS::RDS::DBSubnetGroup
    Properties:
      DBSubnetGroupDescription: Subnet group for Elastic Beanstalk RDS instance
      SubnetIds:
        - subnet-xxxxxxxx  # Replace with your first subnet ID
        - subnet-xxxxxxxx  # Replace with your second subnet ID

Outputs:
  DBEndpoint:
    Description: "JDBC connection string for the database"
    Value: !Sub "jdbc:mysql://${AWSEBRDSDatabase.Endpoint.Address}:${AWSEBRDSDatabase.Endpoint.Port}/${AWSEBRDSDatabase.DBName}"
    Export:
      Name: "JDBCConnectionString"
